/*@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500&subset=latin,cyrillic);*/

@font-face {
    font-family: Exo2-L;
    src: url(../fonts/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2-M;
    src: url(../fonts/Exo2-Medium.ttf);
}
@font-face {
    font-family: Exo2-R;
    src: url(../fonts/Exo2-Regular.ttf);
}
* {
    margin: 0;
}
html, body {
}
body{
    background: #FFF;
    font-family: 'Exo2-R', sans-serif;
    color: #6c7d87;
    font-size: 18px;
}
.body{
    margin-top: 80px;
}
.header{
    min-height: 75px;
    margin-bottom: 15px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    padding-left: 15px;
    padding-right: 25px;
}

.head {
    max-width: 980px;
    margin: 0 auto;
}

.nav-pills>li.active>a{
    background-color: #42aaff;
}

.btn.btn-info {
    background-color: #42aaff;
}
.alert.alert-info{
    background-color: #42aaff;
}
.has-info .form-control{
    border-color: #42aaff;
}
h1, h2, h3, h4, h5, h6, legend {
    color: #42aaff;
}
.btn-info:not(.btn-link):not(.btn-flat){
    background-color: #42aaff;
}
.pull-right {
    margin-right: 80px;
}
.jumbotron{
    color: #000000;
}