/*@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500&subset=latin,cyrillic);*/

@font-face {
    font-family: Exo2-L;
    src: url(../fonts/Exo2-Light.ttf);
}

@font-face {
    font-family: Exo2-M;
    src: url(../fonts/Exo2-Medium.ttf);
}

@font-face {
    font-family: Exo2-R;
    src: url(../fonts/Exo2-Regular.ttf);
}

* {
    margin: 0;
}

html, body {
}

body {
    background: #FFF;
    font-family: 'Exo2-R', sans-serif;
    color: #6c7d87;
    font-size: 18px;
}

.body {
    margin-top: 80px;
    width: 970px;
    margin: 80px auto;
}

.header {
    min-height: 75px;
    margin-bottom: 15px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    padding-left: 15px;
    padding-right: 25px;
    min-width: 1000px;
    right: 0;
}

.head {
    max-width: 980px;
    margin: 0 auto;
}

.nav-pills > li.active > a {
    background-color: #42aaff;
}

.btn.btn-info {
    background-color: #42aaff;
}

.alert.alert-info {
    background-color: #42aaff;
}

.has-info .form-control {
    border-color: #42aaff;
}

h1, h2, h3, h4, h5, h6, legend {
    color: #42aaff;
}

.btn-info:not(.btn-link):not(.btn-flat) {
    background-color: #42aaff;
}

/*.pull-right {*/
    /*margin-right: 80px;*/
/*}*/

.jumbotron {
    color: #000000;
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: rgba(226, 0, 26, 0.40);
}
.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th{
    background-color: rgba(66, 170, 255, 0.40);
}
body{
    min-height: 1000px;
}
footer{
    height: 100px;
    padding: 10px;
    /*margin-top: -80px;*/
    background-color: #231f20;
    color: #cdcdcd;
}
.copyright{
    width: 300px;
}
.btn.btn-lg.btn-info{
    text-transform: none;
}
.row {
      margin-left: 0;
      margin-right: 0;
 }